<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Smoke</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="9884b2">  <td>20/01/02 00:00:52</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseClass.captureScreenShot(java.lang.reflect.Method)[pri:0, instance:Automation.Automation.LoginTest@eec5a4a]">&lt;&lt;captureScreenShot</td> 
<td>&nbsp;</td>  <td>main@2097514481</td>   <td></td> </tr>
<tr bgcolor="9884b2">  <td>20/01/02 00:00:54</td>   <td>2827</td> <td>&nbsp;</td><td title="&lt;&lt;BaseClass.quitDriver()[pri:0, instance:Automation.Automation.LoginTest@eec5a4a]">&lt;&lt;quitDriver</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2097514481</td>   <td></td> </tr>
<tr bgcolor="9884b2">  <td>20/01/02 00:00:23</td>   <td>-28758</td> <td>&nbsp;</td><td title="&gt;&gt;BaseClass.setDriver()[pri:0, instance:Automation.Automation.LoginTest@eec5a4a]">&gt;&gt;setDriver</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2097514481</td>   <td></td> </tr>
<tr bgcolor="9884b2">  <td>20/01/02 00:00:33</td>   <td>-19071</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseClass.setEnviorment()[pri:0, instance:Automation.Automation.LoginTest@eec5a4a]">&gt;&gt;setEnviorment</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2097514481</td>   <td></td> </tr>
<tr bgcolor="61b7af">  <td>20/01/02 00:00:33</td>   <td>-19054</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginTest.verifyHomePage()[pri:0, instance:Automation.Automation.LoginTest@eec5a4a]">verifyHomePage</td> 
  <td>main@2097514481</td>   <td></td> </tr>
</table>
