<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="6fa38a">  <td>20/01/04 23:51:13</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseClass.setEnviorment()[pri:0, instance:Automation.Automation.LoginTest@185d8b6]">&gt;&gt;setEnviorment</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@407858146</td>   <td></td> </tr>
<tr bgcolor="6fa38a">  <td>20/01/04 23:51:13</td>   <td>34</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseClass.setUp()[pri:0, instance:Automation.Automation.LoginTest@185d8b6]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@407858146</td>   <td></td> </tr>
<tr bgcolor="acaea5">  <td>20/01/04 23:51:21</td>   <td>8821</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginTest.verifyLogin()[pri:0, instance:Automation.Automation.LoginTest@185d8b6]">verifyLogin</td> 
  <td>main@407858146</td>   <td></td> </tr>
<tr bgcolor="6fa38a">  <td>20/01/04 23:51:29</td>   <td>16358</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseClass.captureScreenShot(org.testng.ITestResult, java.lang.reflect.Method)[pri:0, instance:Automation.Automation.LoginTest@185d8b6]">&lt;&lt;captureScreenShot</td> 
<td>&nbsp;</td>  <td>main@407858146</td>   <td></td> </tr>
<tr bgcolor="6fa38a">  <td>20/01/04 23:51:43</td>   <td>30413</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseClass.setUp()[pri:0, instance:Automation.Automation.LoginTest@185d8b6]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@407858146</td>   <td></td> </tr>
<tr bgcolor="acaea5">  <td>20/01/04 23:51:51</td>   <td>38352</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginTest.verifyHomePage()[pri:1, instance:Automation.Automation.LoginTest@185d8b6]">verifyHomePage</td> 
  <td>main@407858146</td>   <td></td> </tr>
<tr bgcolor="6fa38a">  <td>20/01/04 23:51:58</td>   <td>45791</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseClass.captureScreenShot(org.testng.ITestResult, java.lang.reflect.Method)[pri:0, instance:Automation.Automation.LoginTest@185d8b6]">&lt;&lt;captureScreenShot</td> 
<td>&nbsp;</td>  <td>main@407858146</td>   <td></td> </tr>
</table>
